workflows/terry_stage4_creative_solver.json
{
  "name": "Terry Stage4 Creative Solver",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "parameters": {},
      "id": "ca899ed9-6ec9-427e-ac73-cb1963cc688a",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1120,
        -20
      ]
    },
    {
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "e8dac933-28d3-4287-9a67-bf3fdb2e4c5d",
              "name": "websiteUrl",
              "type": "string",
              "value": "={{ $env.TERRY_WEBSITE_URL ?? 'http://localhost:8090' }}"
            },
            {
              "id": "283dbf8a-c757-40ef-a2de-03e87720fb0e",
              "name": "chatId",
              "type": "string",
              "value": "terry-stage4"
            },
            {
              "id": "bef86d23-be37-4289-bc8a-307dfc116aa5",
              "name": "knowledgeBase",
              "type": "string",
              "value": "https://docs.networkchuck.com/runbooks/"
            },
            {
              "id": "17e57fd9-e73d-425f-a7e9-846b07e6b540",
              "name": "prompt",
              "type": "string",
              "value": "You are Terry the creative solver. Analyse incidents on {{ $json.websiteUrl }} using available tools, reference the internal runbooks at {{ $json.knowledgeBase }} when helpful, and suggest preventative improvements. Always narrate your reasoning and note when you consult documentation. Use the Think tool before risky actions to sanity-check your plan. All system changes still require explicit human approval. Provide mitigation options, automation ideas, and documentation updates in your summary."
            }
          ]
        }
      },
      "id": "d7cf5db3-0604-4bc2-b275-91494609f854",
      "name": "Set Creative Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -880,
        -20
      ]
    },
    {
      "parameters": {
        "toolDescription": "Check whether the monitored website responds with the expected content.",
        "url": "={{ $json.websiteUrl }}",
        "responseFormat": "string",
        "options": {}
      },
      "id": "a69a1406-b892-4b90-b05b-b49612700763",
      "name": "Website Availability",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -400,
        240
      ]
    },
    {
      "parameters": {
        "description": "Execute the approved homelab shell workflow with a `command` property.",
        "source": "parameter",
        "workflowJson": "{\"name\": \"Subflow \\u2014 SSH Exec (command passthrough)\", \"active\": false, \"settings\": {\"executionOrder\": \"v1\"}, \"nodes\": [{\"parameters\": {\"inputSource\": \"passthrough\"}, \"id\": \"b0b68b39-2270-4f54-a566-71ea37dc0f0c\", \"name\": \"When Executed by Another Workflow\", \"type\": \"n8n-nodes-base.executeWorkflowTrigger\", \"typeVersion\": 1.1, \"position\": [-600, 200]}, {\"parameters\": {\"operation\": \"executeCommand\", \"command\": \"={{ $json.command }}\", \"options\": {}}, \"id\": \"2d08b646-7ec0-4f94-9055-407d3d5da8f0\", \"name\": \"SSH Exec\", \"type\": \"n8n-nodes-base.ssh\", \"typeVersion\": 2, \"position\": [-240, 200], \"credentials\": {\"ssh\": {\"id\": \"__REPLACE_WITH_SSH_CREDENTIAL_ID__\", \"name\": \"SSH (set me after import)\"}}}, {\"parameters\": {\"jsCode\": \"const item = $input.first();\\nconst output = item.json || {};\\nconst command = output.command ?? $json.command ?? '';\\nreturn [{\\n  json: {\\n    command,\\n    stdout: output.stdout ?? output.data ?? '',\\n    stderr: output.stderr ?? output.error ?? '',\\n    exitCode: output.exitCode ?? output.code ?? null\\n  }\\n}];\", \"options\": {}}, \"id\": \"a0e86bfd-77f1-4c9f-9a1c-8c075dcb39fd\", \"name\": \"Format Response\", \"type\": \"n8n-nodes-base.code\", \"typeVersion\": 1.4, \"position\": [0, 200]}], \"connections\": {\"When Executed by Another Workflow\": {\"main\": [[{\"node\": \"SSH Exec\", \"type\": \"main\", \"index\": 0}]]}, \"SSH Exec\": {\"main\": [[{\"node\": \"Format Response\", \"type\": \"main\", \"index\": 0}]]}}, \"pinData\": {}, \"tags\": []}"
      },
      "id": "b3051a55-9e6a-4873-bd94-8282c313ba63",
      "name": "Homelab Shell Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -160,
        240
      ]
    },
    {
      "parameters": {
        "description": "Use this to think through complex troubleshooting steps or alternative remediation paths before acting."
      },
      "id": "b1d3eee1-09fa-4512-af24-d7c1f90ef52b",
      "name": "Think",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -600,
        260
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {
          "temperature": 0.4
        }
      },
      "id": "4a61ae93-0a22-4b13-a7c7-9b8df5c6ee73",
      "name": "Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -880,
        240
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "memoryKey": "terryStage4",
        "options": {
          "historyLength": 8
        }
      },
      "id": "b71e5ef5-d354-42bc-add0-a2e9c5489a6b",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -700,
        240
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "={{ $json.prompt }}",
          "maxIterations": 14
        }
      },
      "id": "b9bbda7c-43c6-46ff-8baa-608a27dafa4b",
      "name": "Terry Stage 4 Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -640,
        -20
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Creative Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Creative Context": {
      "main": [
        [
          {
            "node": "Terry Stage 4 Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website Availability": {
      "ai_tool": [
        [
          {
            "node": "Terry Stage 4 Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Homelab Shell Tool": {
      "ai_tool": [
        [
          {
            "node": "Terry Stage 4 Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Terry Stage 4 Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Terry Stage 4 Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Terry Stage 4 Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "tags": []
}