workflows/terry_stage3_fixer.json
{
  "name": "Terry Stage3 Fixer",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "parameters": {},
      "id": "375aebfa-198f-4de8-b367-71f0ed7c2828",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1080,
        -40
      ]
    },
    {
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "d147ace2-fb91-4c42-a354-b29ca140287f",
              "name": "websiteUrl",
              "type": "string",
              "value": "={{ $env.TERRY_WEBSITE_URL ?? 'http://localhost:8090' }}"
            },
            {
              "id": "33e8b7ba-22f3-4b75-bb5b-4ee2329922c4",
              "name": "chatId",
              "type": "string",
              "value": "terry-stage3"
            },
            {
              "id": "98b29fb1-a36c-410e-8bc3-6fe06b1a4237",
              "name": "prompt",
              "type": "string",
              "value": "You are Terry, the fixer. You may run diagnostics and propose remediation steps for {{ $json.websiteUrl }}. Explain every action before you run it. Investigate with the Website Availability and Homelab Shell tools. When you believe a fix is required, draft a remediation plan including the exact commands you intend to run. Ask for explicit HUMAN approval before executing any command that changes the system. If approval is granted, execute the plan using the Homelab Shell tool, verify the service, and summarise what you changed. If approval is denied or missing, provide the plan and stop."
            }
          ]
        }
      },
      "id": "f6ba810e-0c7d-4ff0-a527-9b89676a2a50",
      "name": "Set Fix Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -840,
        -40
      ]
    },
    {
      "parameters": {
        "toolDescription": "Check whether the monitored website is accessible and returning the expected payload.",
        "url": "={{ $json.websiteUrl }}",
        "responseFormat": "string",
        "options": {}
      },
      "id": "d34617e5-6c9b-4a81-b6d0-16cea47f16b2",
      "name": "Website Availability",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -360,
        240
      ]
    },
    {
      "parameters": {
        "description": "Execute approved docker or system commands. Always include a `command` field in the payload.",
        "source": "parameter",
        "workflowJson": "{\"name\": \"Subflow \\u2014 SSH Exec (command passthrough)\", \"active\": false, \"settings\": {\"executionOrder\": \"v1\"}, \"nodes\": [{\"parameters\": {\"inputSource\": \"passthrough\"}, \"id\": \"b0b68b39-2270-4f54-a566-71ea37dc0f0c\", \"name\": \"When Executed by Another Workflow\", \"type\": \"n8n-nodes-base.executeWorkflowTrigger\", \"typeVersion\": 1.1, \"position\": [-600, 200]}, {\"parameters\": {\"operation\": \"executeCommand\", \"command\": \"={{ $json.command }}\", \"options\": {}}, \"id\": \"2d08b646-7ec0-4f94-9055-407d3d5da8f0\", \"name\": \"SSH Exec\", \"type\": \"n8n-nodes-base.ssh\", \"typeVersion\": 2, \"position\": [-240, 200], \"credentials\": {\"ssh\": {\"id\": \"__REPLACE_WITH_SSH_CREDENTIAL_ID__\", \"name\": \"SSH (set me after import)\"}}}, {\"parameters\": {\"jsCode\": \"const item = $input.first();\\nconst output = item.json || {};\\nconst command = output.command ?? $json.command ?? '';\\nreturn [{\\n  json: {\\n    command,\\n    stdout: output.stdout ?? output.data ?? '',\\n    stderr: output.stderr ?? output.error ?? '',\\n    exitCode: output.exitCode ?? output.code ?? null\\n  }\\n}];\", \"options\": {}}, \"id\": \"a0e86bfd-77f1-4c9f-9a1c-8c075dcb39fd\", \"name\": \"Format Response\", \"type\": \"n8n-nodes-base.code\", \"typeVersion\": 1.4, \"position\": [0, 200]}], \"connections\": {\"When Executed by Another Workflow\": {\"main\": [[{\"node\": \"SSH Exec\", \"type\": \"main\", \"index\": 0}]]}, \"SSH Exec\": {\"main\": [[{\"node\": \"Format Response\", \"type\": \"main\", \"index\": 0}]]}}, \"pinData\": {}, \"tags\": []}"
      },
      "id": "19e843a0-437e-43f6-a546-0dfe31f4de7b",
      "name": "Homelab Shell Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -120,
        240
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "dee036de-7a21-4884-88db-b155bbbf2b58",
      "name": "Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -840,
        240
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "memoryKey": "terryStage3",
        "options": {
          "historyLength": 6
        }
      },
      "id": "000bf0be-44c0-4b9a-8c47-b2516d91bda7",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -660,
        240
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "={{ $json.prompt }}",
          "maxIterations": 12
        }
      },
      "id": "7ebe662a-ec69-4b45-a3de-2450132eb942",
      "name": "Terry Stage 3 Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -600,
        -40
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Fix Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fix Context": {
      "main": [
        [
          {
            "node": "Terry Stage 3 Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website Availability": {
      "ai_tool": [
        [
          {
            "node": "Terry Stage 3 Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Homelab Shell Tool": {
      "ai_tool": [
        [
          {
            "node": "Terry Stage 3 Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Terry Stage 3 Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Terry Stage 3 Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "tags": []
}