workflows/terry_stage2_investigator.json
{
  "name": "Terry Stage2 Investigator",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "parameters": {},
      "id": "98b7d447-f680-4bfa-a62b-16aa8974fccb",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1080,
        -40
      ]
    },
    {
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "b8f373c7-38c9-4f20-befe-cc673c82b2e8",
              "name": "websiteUrl",
              "type": "string",
              "value": "={{ $env.TERRY_WEBSITE_URL ?? 'http://localhost:8090' }}"
            },
            {
              "id": "4bb1b9ec-b142-4c59-a583-999188cc163c",
              "name": "chatId",
              "type": "string",
              "value": "terry-stage2"
            },
            {
              "id": "a262456c-5903-43e6-88cb-dbf64cdb946a",
              "name": "prompt",
              "type": "string",
              "value": "You are Terry, NetworkChuck's IT administrator in training. Investigate why the service at {{ $json.websiteUrl }} might be down. Always explain the step you are about to take before you run it. You may use the Website Availability tool to check HTTP status and the Homelab Shell tool to run read-only Docker and system diagnostics like `docker ps`, `docker logs website --tail 20`, `df -h`, and `free -h`. Do not attempt repairs yet\u2014focus on gathering evidence and summarizing probable root causes. Present your findings as bullet points and finish with a recommendation for the next human action."
            }
          ]
        }
      },
      "id": "8fdd2b47-f39b-4580-8ded-1a8a1641d59d",
      "name": "Set Investigation Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -840,
        -40
      ]
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to validate whether the monitored website is reachable and what it returns.",
        "url": "={{ $json.websiteUrl }}",
        "responseFormat": "string",
        "options": {}
      },
      "id": "4e071686-8e4c-44e6-973f-a900b5a1bab8",
      "name": "Website Availability",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -360,
        200
      ]
    },
    {
      "parameters": {
        "description": "Run safe diagnostic shell commands (docker status, logs, resource checks). Provide a `command` string when invoking.",
        "source": "parameter",
        "workflowJson": "{\"name\": \"Subflow \\u2014 SSH Exec (command passthrough)\", \"active\": false, \"settings\": {\"executionOrder\": \"v1\"}, \"nodes\": [{\"parameters\": {\"inputSource\": \"passthrough\"}, \"id\": \"b0b68b39-2270-4f54-a566-71ea37dc0f0c\", \"name\": \"When Executed by Another Workflow\", \"type\": \"n8n-nodes-base.executeWorkflowTrigger\", \"typeVersion\": 1.1, \"position\": [-600, 200]}, {\"parameters\": {\"operation\": \"executeCommand\", \"command\": \"={{ $json.command }}\", \"options\": {}}, \"id\": \"2d08b646-7ec0-4f94-9055-407d3d5da8f0\", \"name\": \"SSH Exec\", \"type\": \"n8n-nodes-base.ssh\", \"typeVersion\": 2, \"position\": [-240, 200], \"credentials\": {\"ssh\": {\"id\": \"__REPLACE_WITH_SSH_CREDENTIAL_ID__\", \"name\": \"SSH (set me after import)\"}}}, {\"parameters\": {\"jsCode\": \"const item = $input.first();\\nconst output = item.json || {};\\nconst command = output.command ?? $json.command ?? '';\\nreturn [{\\n  json: {\\n    command,\\n    stdout: output.stdout ?? output.data ?? '',\\n    stderr: output.stderr ?? output.error ?? '',\\n    exitCode: output.exitCode ?? output.code ?? null\\n  }\\n}];\", \"options\": {}}, \"id\": \"a0e86bfd-77f1-4c9f-9a1c-8c075dcb39fd\", \"name\": \"Format Response\", \"type\": \"n8n-nodes-base.code\", \"typeVersion\": 1.4, \"position\": [0, 200]}], \"connections\": {\"When Executed by Another Workflow\": {\"main\": [[{\"node\": \"SSH Exec\", \"type\": \"main\", \"index\": 0}]]}, \"SSH Exec\": {\"main\": [[{\"node\": \"Format Response\", \"type\": \"main\", \"index\": 0}]]}}, \"pinData\": {}, \"tags\": []}"
      },
      "id": "056127b9-7d9d-451b-b96c-527379692446",
      "name": "Homelab Shell Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -120,
        200
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "9e703950-ff08-4c71-a9ad-946e9e521662",
      "name": "Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -840,
        200
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "memoryKey": "terryStage2",
        "options": {}
      },
      "id": "46d287b6-359e-48e9-a3bc-6bc7f8590e8b",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -660,
        200
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "={{ $json.prompt }}"
        }
      },
      "id": "3a240bcc-a725-4e6b-a2dc-1d832466599c",
      "name": "Terry Stage 2 Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -600,
        -40
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Investigation Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Investigation Context": {
      "main": [
        [
          {
            "node": "Terry Stage 2 Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website Availability": {
      "ai_tool": [
        [
          {
            "node": "Terry Stage 2 Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Homelab Shell Tool": {
      "ai_tool": [
        [
          {
            "node": "Terry Stage 2 Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Terry Stage 2 Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Terry Stage 2 Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "tags": []
}