workflows/terry_stage1_basic_monitor.json
{
  "name": "Terry Stage1 Basic Monitor",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "parameters": {},
      "id": "f7f55260-40b5-4726-a403-f8a9c87d87d8",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        -40
      ]
    },
    {
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "77d204c2-34b6-4d8a-837c-e202a7c8edb1",
              "name": "websiteUrl",
              "type": "string",
              "value": "={{ $env.TERRY_WEBSITE_URL ?? 'http://localhost:8090' }}"
            },
            {
              "id": "de27628d-d625-4142-bbf4-041495a6aa02",
              "name": "chatId",
              "type": "string",
              "value": "terry-stage1"
            },
            {
              "id": "3c3fa05d-608c-43ed-84dc-d9e2c78a462e",
              "name": "prompt",
              "type": "string",
              "value": "You are Terry, the newest IT administrator at NetworkChuck. Your single responsibility is to confirm that the website at {{ $json.websiteUrl }} is reachable and returning the correct content. Always use the \"Website Availability\" tool to perform a GET request to this URL. The site is considered healthy only when the response body contains the exact HTML snippet <h1>NetworkChuck Coffee</h1>. Respond with either \\\"Website is up \ud83d\ude0e\ud83d\udc4d\\\" or \\\"Website is down \ud83d\ude1e\ud83d\udc4e\\\" and include a one sentence explanation referencing the HTTP status code or error you observed."
            }
          ]
        }
      },
      "id": "ff825968-d9dd-4290-99cd-d89938e00850",
      "name": "Set Monitor Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -720,
        -40
      ]
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to check if the monitored website responds correctly.",
        "url": "={{ $json.websiteUrl }}",
        "responseFormat": "string",
        "options": {}
      },
      "id": "a994e988-b8ec-4dbb-8a28-865e0c4bb2b6",
      "name": "Website Availability",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -360,
        140
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "2a676d43-d55c-4685-b615-372fc922cd0d",
      "name": "Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -720,
        200
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "memoryKey": "terryStage1",
        "options": {}
      },
      "id": "6f0cb05e-9201-4a06-95e2-40cd56596da5",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -540,
        200
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "={{ $json.prompt }}"
        }
      },
      "id": "4e57dcea-cd5d-42bd-bf29-313d8e383962",
      "name": "Terry Stage 1 Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -480,
        -40
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Monitor Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Monitor Context": {
      "main": [
        [
          {
            "node": "Terry Stage 1 Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website Availability": {
      "ai_tool": [
        [
          {
            "node": "Terry Stage 1 Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Terry Stage 1 Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Terry Stage 1 Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "tags": []
}